apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "livekit.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "livekit.main.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.livekit.replicas }}
  selector:
    matchLabels:
      app: livekit
  template:
    metadata:
      labels:
        app: livekit
    spec:
      containers:
      - name: livekit
        image: "{{ .Values.livekit.image.repository }}:{{ .Values.livekit.image.tag }}"
        imagePullPolicy: {{ .Values.livekit.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.livekit.service.targetPort }}
          protocol: TCP
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      terminationGracePeriodSeconds: 30



