apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.imageName }}:{{ .Values.imageVersion }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
              protocol: TCP
          command:
            - redis-server
{{/*            - /etc/redis/redis.conf*/}}
          env:
            - name: REDIS_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_DEFAULT_PASS
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - redis-cli --no-auth-warning -a "$REDIS_PASSWORD" ping
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - redis-cli --no-auth-warning -a "$REDIS_PASSWORD" ping
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          volumeMounts:
            - mountPath: /data
              name: redis-data
            
        - name: redis-exporter
          image: oliver006/redis_exporter:latest
          ports:
            - containerPort: 9121
              name: metrics
          env:
            - name: REDIS_SERVICE_URL      
              valueFrom:
                configMapKeyRef:
                  name: redis-configmap
                  key: REDIS_SERVICE_URL
             
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: REDIS_DEFAULT_PASS

      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-pvc
