apiVersion: v1
kind: Secret
metadata:
  name: {{ include "userservice.fullname" . }}-secrets
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "userservice.labels" . | nindent 4 }}
type: Opaque
stringData:
  # Database Credentials
  SPRING_DATASOURCE_USERNAME: {{ .Values.database.username | quote }}
  SPRING_DATASOURCE_PASSWORD: {{ .Values.database.password | quote }}
  
  # Keycloak Admin Credentials
  KEYCLOAK_CONFIG_ADMIN_USERNAME: {{ .Values.keycloak.config.adminUsername | quote }}
  KEYCLOAK_CONFIG_ADMIN_PASSWORD: {{ .Values.keycloak.config.adminPassword | quote }}
  
  # Matrix Registration Secret
  MATRIX_REGISTRATION_SHARED_SECRET: {{ .Values.matrix.registrationSharedSecret | quote }}
  
  # Rocket.Chat Credentials
  ROCKET_TECHNICAL_USERNAME: {{ .Values.rocketchat.technical.username | quote }}
  ROCKET_TECHNICAL_PASSWORD: {{ .Values.rocketchat.technical.password | quote }}
  {{- if .Values.rocketchat.systemuser.id }}
  ROCKET_SYSTEMUSER_ID: {{ .Values.rocketchat.systemuser.id | quote }}
  {{- end }}
  {{- if .Values.rocketchat.systemuser.username }}
  ROCKET_SYSTEMUSER_USERNAME: {{ .Values.rocketchat.systemuser.username | quote }}
  {{- end }}
  {{- if .Values.rocketchat.systemuser.password }}
  ROCKET_SYSTEMUSER_PASSWORD: {{ .Values.rocketchat.systemuser.password | quote }}
  {{- end }}
  
  # RabbitMQ Credentials
  SPRING_RABBITMQ_USERNAME: {{ .Values.rabbitmq.username | quote }}
  SPRING_RABBITMQ_PASSWORD: {{ .Values.rabbitmq.password | quote }}
  
  # Service Encryption Key
  {{- if .Values.encryption.appKey }}
  SERVICE_ENCRYPTION_APPKEY: {{ .Values.encryption.appKey | quote }}
  {{- end }}


