apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
spec:
  serviceName: mariadb
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: {{ .Values.imageName }}:{{ .Values.imageVersion }}
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: MYSQL_ROOT_PASSWORD         
          ports:
            - containerPort: 3306
          volumeMounts:
            - mountPath: /docker-entrypoint-initdb.d/
              name: init-sql
            - mountPath: /var/lib/mysql
              name: mariadb-data
            - name: config
              mountPath: /etc/mysql/conf.d/my.cnf
              subPath: my.cnf

      volumes:
        - name: init-sql
          configMap:
            name: mariadb-configmap-initsql
        - name: config
          configMap:
            name: mariadb-configmap

  volumeClaimTemplates:
    - metadata:
        name: mariadb-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi
