apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mariadb.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "mariadb.labels" . | nindent 4 }}
spec:
  serviceName: {{ .Values.service.name }}
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: MYSQL_ROOT_PASSWORD
          {{- if .Values.secrets.rootPassword.name }}
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.rootPassword.name }}
              key: {{ .Values.secrets.rootPassword.key }}
          {{- else }}
          value: {{ .Values.database.rootPassword | quote }}
          {{- end }}
        - name: MYSQL_DATABASE
          {{- if .Values.secrets.database.name }}
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secrets.database.name }}
              key: {{ .Values.secrets.database.key }}
          {{- else }}
          value: {{ .Values.database.name | quote }}
          {{- end }}
        ports:
        - name: mysql
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        {{- if .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: mariadb-data
          mountPath: /var/lib/mysql
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      terminationGracePeriodSeconds: 30
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: mariadb-data
    spec:
      accessModes:
      - {{ .Values.persistence.accessMode }}
      storageClassName: {{ .Values.persistence.storageClass }}
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
  {{- end }}
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Retain
    whenScaled: Retain



