mongoImageName: "mongo"
mongoVersion: "5.0"
mongoSharedKey: "default"

mongoInitDbRootUsername: "admin"
mongoInitDbRootPassword: "admin"
nosqlclientMongoUsername: "nosqlclient"
nosqlclientMongoPassword: "nosqlclient"
rocketchatMongoUsername: "rocketchat"
rocketchatMongoPassword: "rocketchat"
oplogMongoUsername: "oplog"
oplogMongoPassword: "oplog"
statisticsMongoUser: "statistics"
statisticsMongoPass: "statistics"
consultingTypeMongoUser: "consulting_types"
consultingTypeMongoPass: "consulting_types"