apiVersion: apps/v1
kind: Deployment
metadata: 
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - image:  {{ .Values.frontend.imageName }}:{{ .Values.frontend.imageVersion }}
          name: frontend
          ports:
            - containerPort: 80
          resources: {}
      imagePullSecrets:
        - name: registry-secret
      restartPolicy: Always
