# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: caritas
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 9001
    targetPort: 80
    protocol: TCP
  selector:
    app: frontend
