apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keycloak.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: keycloak
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      {{- if .Values.hostNetwork }}
      hostNetwork: {{ .Values.hostNetwork }}
      {{- end }}
      containers:
      - name: keycloak
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - start-dev
        env:
        - name: KEYCLOAK_ADMIN
          value: {{ .Values.keycloak.admin.username | quote }}
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: {{ .Values.keycloak.admin.password | quote }}
        - name: KC_PROXY
          value: {{ .Values.keycloak.proxy | quote }}
        - name: KC_HOSTNAME
          value: {{ include "keycloak.hostname" . | quote }}
        - name: KC_HOSTNAME_STRICT_HTTPS
          value: {{ .Values.keycloak.hostnameStrictHttps | quote }}
        - name: KC_HTTP_ENABLED
          value: {{ .Values.keycloak.httpEnabled | quote }}
        {{- range $key, $value := .Values.keycloak.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      terminationGracePeriodSeconds: 30



