{{/*
  Helper define: returns true if filename is binary font (extend as needed).
*/}}
{{- define "binaryFile" -}}
{{- $fname := . -}}
{{- or (hasSuffix $fname ".woff") (hasSuffix $fname ".woff2") (hasSuffix $fname ".ttf") (hasSuffix $fname ".eot") (hasSuffix $fname ".otf") -}}
{{- end -}}

{{- $themeParts := dict
  "templates"           "keycloak-resources/custom-theme/login/*"
  "templates-messages"  "keycloak-resources/custom-theme/login/messages/*"
  "templates-styles"    "keycloak-resources/custom-theme/login/resources/css/*"
  "templates-fonts"     "keycloak-resources/custom-theme/login/resources/fonts/Nunito/*"
  "email-html"          "keycloak-resources/custom-theme/email/html/*"
  "email-messages"      "keycloak-resources/custom-theme/email/messages/*"
  "email-text"          "keycloak-resources/custom-theme/email/text/*"
-}}

{{- range $suffix, $globPath := $themeParts }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-configmap-theme-{{ $suffix }}
data:
{{- $files := $.Files.Glob $globPath }}
{{- range $path, $file := $files }}
  {{ base $path }}: |-
{{- if include "binaryFile" $path }}
    # base64-encoded
{{ $file | toString | b64enc | indent 4 }}
{{- else }}
{{ $file | toString | indent 4 }}
{{- end }}
{{- end }}
{{- end }}