apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mongodb.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "mongodb.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: mongodb
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: mongodb
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: mongodb-data
          mountPath: /data/db
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      volumes:
      {{- if .Values.persistence.enabled }}
      {{- if .Values.persistence.existingClaim }}
      - name: mongodb-data
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.existingClaim }}
      {{- else }}
      - name: mongodb-data
        persistentVolumeClaim:
          claimName: {{ include "mongodb.fullname" . }}-data
      {{- end }}
      {{- end }}
      terminationGracePeriodSeconds: 30

