apiVersion: v1
kind: Service
metadata:
  name: userservice
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
    - name: "5005"
      port: 5005
      targetPort: 5005
  selector:
    app: userservice
