apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: userservice-report
  name: userservice-report
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
