apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "element-call.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "element-call.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: element-call
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: element-call
    spec:
      containers:
      - name: element-call
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        {{- if .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        {{- end }}
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        volumeMounts:
        - name: element-call-config
          mountPath: /app/config.json
          subPath: config.json
          readOnly: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      volumes:
      - name: element-call-config
        configMap:
          name: element-call-config
      terminationGracePeriodSeconds: 30

