apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: platform-initialization-data
  annotations:
    helm.sh/resource-policy: keep
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
#  storageClassName: