apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "redis-exporter.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "redis-exporter.labels" . | nindent 4 }}
    app: redis-exporter
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: redis-exporter
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: redis-exporter
    spec:
      containers:
      - name: redis-exporter
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        - name: REDIS_ADDR
          value: {{ .Values.redis.addr | quote }}
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.redis.secret.name }}
              key: {{ .Values.redis.secret.key }}
        ports:
        - name: metrics
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      terminationGracePeriodSeconds: 30



