apiVersion: v1
kind: Service
metadata:
  name: {{ include "redis-exporter.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "redis-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: metrics
  selector:
    app: redis-exporter



