apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  RABBITMQ_DEFAULT_USER: {{ .Values.global.secrets.rabbitmqUsername | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.global.secrets.rabbitmqPassword | b64enc | quote }}
