apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  RABBITMQ_DEFAULT_USER: {{ .Values.defaultUser | b64enc | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.defaultPass | b64enc | quote }}
